{{#each rows}}
    <div class="row">
        {{#each this}}
            <div class="col-lg-4">
                <h2 class="text-center">{{this.title}}</h2>

                <a href={{link @key}}>
                    <img class="img-responsive center-block" src={{img @key}} alt={{this.title}} height="170"
                         width="170">
                </a>

                {{#ifShort this.description}}
                    <p class="lead text-center">{{this.description}}</p>
                {{else}}
                    <p class="lead text-justify">{{this.description}}</p>
                {{/ifShort}}

                <p class="text-center"><a class="btn btn-primary" href={{link @key}} role="button">Install »</a></p>
            </div>
        {{/each}}
    </div>
{{/each}}
